<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="{$basePath}/js/grido.js"></script>
<link rel="stylesheet" href="{$basePath}/css/gridoBackendRepairments.css" />
<link rel="stylesheet" href="{$basePath}/css/grido.css" />
<link rel="stylesheet" href="{$basePath}/css/backend.css" />
<link rel="stylesheet" href="{$basePath}/css/menu.css" type="text/css">
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script src="{$basePath}/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{$basePath}/css/bootstrap.min.css" />
<div style="margin: 8px;">
<div id='cssmenu'>	
<ul>
   <li n:if="$user->isInRole(2)" class='active has-sub'><a n:href=":Admin:Optimalization:driver">Správa dopravy</a></li>
   <li><a n:href=":Front:Homepage:">Prejsť na web</a></li>
   <li class='last'><a n:href=":Front:Auth:out">Odhlásiť</a></li>
</ul>
</div>	
<div class="body">
{block content}
	<div style="padding-top: 30px; width: 80%; margin:0 auto;">
		{control driverGrid}
	</div>
{/block}
</div>
</div>