/*
Opravuje chyby vykreslovania grid po prevode na nette2.3.
Príčiny chýb: aktualizácia pluginov.
*/

/* app/AdminModule/Datagrids */
#blocksGrid, #departmentsGrid, #eventsGrid, #galleriesGrid, #jobOffersGrid, 
#logsGrid, #menuItemPermissionsGrid, #menuItemsGrid, #newsCategoriesGrid, 
#newsGrid, #pagesGrid, #permissionCategoriesGrid, #permissionsGrid, 
#phdThesisGrid, #roleUsersGrid, #rolesGrid, #studyProgramsGrid, #usersGrid, 
#faqGrid,
/* app/ApiModule/AdminModule/Datagrids */
#apiKeysGrid, #resourcesGrid, 
/* app/IngProjectsModule/Datagrids */
#ingProjects2ApplicationGrid, #ingStudentsOld2OnProjectDetailGrid,
/* app/SchoolroomsModule/AdminModule/Datagrids */
#adminGrid, #reservationsGrid, #responsibleGrid, #schoolroomsGrid {
	margin: 25px 0 20px 0;
}

.grido td {
	line-height: normal;
}
th .actions {
	width: 100px;
}

.grido .table .head .actions {
    width: 2.5%;
	padding: 0 5px;
}

.grido .table td.actions a {
    margin-right: 10px;
}

.grido .table .buttons, 
.grido .table .actions {
	text-align: center;
}

.grido .table .buttons {
	padding: 0 5px;
}

.grido .table .btn {
	border-radius: 0;
	margin: 0;
}

.grido .table .glyphicon {
	margin: -1px 0 0 0;
	top: 1;
}

.grido .table .grid-action-edit, 
.grido .table .search {
    border-radius: 4px;
}

.grido .table .grid-action-edit .icon-pencil{
	height: 20px;
    margin-top: 5px;
}

.grido .table .btn-danger, 
.grido .table .reset {
    border-radius: 4px;
    margin-left: -1px;
}

.grido .btn-danger .glyphicon-trash {
	height: 20px;
    margin-top: 5px;
}

.grido .table .grid-action-editDriver .icon-user{
	height: 20px;
    margin-top: 5px;
}

.grido .table .grid-action-editDriver{
	background: #0099ff;
	border-radius: 4px;
}

.grido .table .grid-action-add .icon-ok{
	height: 20px;
    margin-top: 5px;
}

.grido .table .grid-action-add{
	background: #00ff00;
	border-radius: 4px;
}

/* **************************************************************************
                                    Obsah 
   ************************************************************************** */


/* ------------------------- newsGrid repairments --------------------------- */

#newsGrid .head .grid-header-title_sk, 
#newsGrid .head .grid-header-title_en {
    width: 25%;
}

#newsGrid .head .grid-header-top_to {
    width: 8%;
}

#newsGrid .head .grid-header-is_top {
    width: 1%;
}

/* ------------------------- pagesGrid repairments -------------------------- */

#pagesGrid .head .grid-header-title_sk {
	width: 14%;
} 

#pagesGrid .head .grid-header-title_en {
    width: 16%;
}

#pagesGrid .head .grid-header-created_formatted {
	width: 12%;
}

#pagesGrid .head .grid-header-page_id {
	width: 26%;
}

#pagesGrid .head .actions {
    width: 4%;
}

/* ------------------------ eventsGrid repairments -------------------------- */

#eventsGrid .head .grid-header-title_sk {
	width: 38%;
} 

#eventsGrid .head .grid-header-from_formatted,
#eventsGrid .head .grid-header-to_formatted {
	width: 10%;
}

#eventsGrid .head .grid-header-B,
#eventsGrid .head .grid-header-E {
	width: 1%;
}

#eventsGrid .head .grid-header-D {
	width: 1%;
}

/* ------------------------ blocksGrid repairments -------------------------- */

#blocksGrid .head .grid-header-label,
#blocksGrid .head .grid-header-position{
	width: 15%;
}

#blocksGrid .head .grid-header-hidden,
#blocksGrid .head .grid-header-sk,
#blocksGrid .head .grid-header-en {
	width: 4%;
}

#blocksGrid .search, 
#blocksGrid .reset {
	float: left;
}

#blocksGrid .grid-action-positions,
#blocksGrid .btn-warning,
#blocksGrid .btn-success {
	margin-left: -1px;
}


/* ----------------------- menuItemGrid repairments ------------------------- */

#menuItemsGrid .head .grid-header-title_sk, 
#menuItemsGrid .head .grid-header-title_en {
		width: 19%;
}
#menuItemsGrid .head .grid-header-external {
	width: 10%;
}

#menuItemsGrid .head .grid-header-item_menu_parent {
	width: 35%;
}

/* --------------------------- usersGrid repairments ------------------------ */

#usersGrid .head .grid-header-displayname, 
#usersGrid .head .grid-header-mail {
	width: 34%;
} 

#usersGrid .head .grid-header-physicaldeliveryofficename {
	width: 25%;
}

#usersGrid .head .actions {
	width: 12%;
}

#usersGrid .grid-action-edit {
	margin-left: -1px;
}
/* --------------------------- productsGrid repairments ------------------------ */

#productsGrid .head .grid-header-displayname, 
#productsGrid .head .grid-header-mail {
	width: 34%;
} 

#productsGrid .head .grid-header-physicaldeliveryofficename {
	width: 25%;
}

#productsGrid .head .actions {
	width: 12%;
}

#productsGrid .grid-action-edit {
	margin-left: -1px;
}
/* --------------------------- distributionPlanGrid repairments ------------------------ */

#distributionPlanGrid .head .grid-header-displayname, 
#distributionPlanGrid .head .grid-header-mail {
	width: 34%;
} 

#distributionPlanGrid .head .grid-header-physicaldeliveryofficename {
	width: 25%;
}

#distributionPlanGrid .head .actions {
	width: 5%;
}

#distributionPlanGrid .grid-action-edit {
	margin-left: -1px;
}

/* --------------------------- carsGrid repairments ------------------------ */

#carsGrid .head .grid-header-displayname, 
#carsGrid .head .grid-header-mail {
	width: 34%;
} 

#carsGrid .head .grid-header-physicaldeliveryofficename {
	width: 25%;
}

#carsGrid .head .actions {
	width: 4%;
}

#carsGrid .grid-action-edit {
	margin-left: -1px;
}
/* --------------------------- ordersGrid repairments ------------------------ */

#ordersGrid .head .grid-header-displayname, 
#ordersGrid .head .grid-header-mail {
	width: 34%;
} 

#ordersGrid .head .grid-header-physicaldeliveryofficename {
	width: 25%;
}

#ordersGrid .head .actions {
	width: 4%;
}

#ordersGrid .grid-action-edit {
	margin-left: -1px;
}